*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background-color: rgb(8, 8, 8);
}
.header{
    width: 100vw;
    height: 65px;
    position: fixed;
    display: flex;
    top: 0px;
    background-color: rgb(8, 8, 8);
    border-bottom: 0.2px solid rgb(87, 87, 87);
    justify-content:center;
    align-items: center;
}
.title{
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-family: Times, serif;
    background-color: transparent;
    font-weight: bold;
    
}
.content{
    display: flex;
    flex-direction: column;
    /* flex-wrap: nowrap; */
	justify-content: space-evenly;
	align-items: center;
	align-content: stretch;
    margin-top: 150px;
    /* background-color: red; */

}
.grid-container {
    display: grid;
    gap: 10px 10px;
    grid-template-columns: repeat(5, 60px);
}
.grid-item{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    border: 1px solid rgb(87, 87, 87);
    border-radius: 5px;
    color: white;
    font-size: 24px;
    font-family: Arial;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}
.keyboard{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
	align-items: center;
	align-content: stretch;
}
.row{
    display: flex;
    justify-content: space-evenly;
}
.key{
    background-color:rgb(87, 87, 87) ;
    color: white;
    font-size: 20px;
    font-family: Arial;
    font-weight: bold;
    min-width: 40px;
    height: 50px;
    border-radius: 5px;;
    padding: 5px;
    margin: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;


}
.green-cell {
    animation-name: Green-rotateZAnimation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
  }
  @keyframes Green-rotateZAnimation {
    0%{
      background: transparent;
      transform: rotateX(0deg);
    }
    
    50%{
      background:transparent;
      transform: rotateX(90deg);
    }
    51%{
      background: rgb(12, 89, 12);
      border-color: transparent;
    }
    
    100%{
      background: rgb(12, 89, 12);
      border-color: transparent;
      transform: rotateX(0deg);
    }
  }
  .yellow-cell {
    animation-name: Yellow-rotateZAnimation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
  }
  @keyframes Yellow-rotateZAnimation {
    0%{
      background: transparent;
      transform: rotateX(0deg);
    }
    
    50%{
      background:transparent;
      transform: rotateX(90deg);
    }
    51%{
      background: rgb(145, 118, 7);
      border-color: transparent;
    }
    
    100%{
      background: rgb(145, 118, 7);
      border-color: transparent;
      transform: rotateX(0deg);
    }
  }
  .gray-cell {
    animation-name: Gray-rotateZAnimation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
  }
  @keyframes Gray-rotateZAnimation {
    0%{
      background: transparent;
      transform: rotateX(0deg);
    }
    
    50%{
      background:transparent;
      transform: rotateX(90deg);
    }
    51%{
      background: rgb(49, 49, 49);
      border-color: transparent;
    }
    
    100%{
      background: rgb(49, 49, 49);
      border-color: transparent;
      transform: rotateX(0deg);
    }
  }
  .greenBack{
    animation-name: to-green;
    animation-duration: 0.2s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
  }
  @keyframes to-green {
    from {background-color:rgb(87, 87, 87) ;}
    to {background-color:rgb(12, 89, 12);}
  }
  .yellowBack{
    animation-name: to-yellow;
    animation-duration: 0.2s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
  }
  @keyframes to-yellow {
    from {background-color:rgb(87, 87, 87) ;}
    to {background-color:rgb(145, 118, 7);}
  }
  .grayBack{
    animation-name: to-gray;
    animation-duration: 0.2s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
  }
  @keyframes to-gray {
    from {background-color:rgb(87, 87, 87) ;}
    to {background-color:rgb(49, 49, 49);}
  }
  .scale{
    animation-name: example;
    animation-duration: 0.2s;
    animation-delay: 0s !important; 
}
  
  @keyframes example {
    from {transform: scale(1.2);}
    to {transform: scale(1);}
  }
  .img{
    width: 30px;
    height: 30px;
  }